body {
	text-align: center;
	background: #000000;
	color: #FFFFFF;
	position: relative;
}
.jumbotron {
	margin:10px;
	width: 100%;
	background: url("images/Laptop.jpg");
	background-size: cover;
	background-position: center;
	font-family: Lobster;
	text-align: center;
	min-height: 100vh;
}
.social {
	display: inline;
}
.img-responsive {
	display: inline;
	}
.navbar {
	margin-bottom: 0px;
}
#AboutMe {
	min-height: 100vh;
	background: #7C7A7A;
	padding-top:50px;
}
#Portfolio {
	min-height: 100vh;
	background: #FF5D73;
	padding-top:50px;
}
#Contact {
	min-height: 100vh;
	background: #494949;
	padding-top:50px;
}
.rowheight {
	min-height: 100vh;
	position: relative;
}
#header {
	vertical-align: middle;
	position: absolute; bottom: 15%;
	}
.imgborder {
    border-color: white;
    border-width: 10px;
    border-style: solid;
  }
  footer {
  	background-color: #000000;
  }
  