body {
	text-align: center;
	background: #00171F;
	color: #FFFFFF;
	position: relative;
	overflow-x:hidden;
	font-family: Indie Flower;
	font-weight: bold;
}
.jumbotron {
	margin-top:50px;
	margin-bottom:0px;
	background: url("images/Laptop.jpg");
	background-size: cover;
	text-align: center;
}
.social {
	display: inline;
}
.img-responsive {
	display: inline;
	}
.navbar {
	margin-bottom: 0px;
}
#AboutMe {
	background: #007EA7;
	padding-top:50px;
	padding-bottom:50px;
}

#AboutMe p {
	background: #FFFFFF;
	border-radius: 10px;
	color: #00171F;
	padding: 10px;
	font-size: 17px;
}

#Portfolio {
	background: #003459;
	padding-top:50px;
	padding-bottom:50px;
}
#Contact {
	background: #00171F;
	padding-top:50px;;
	padding-bottom:50px;
}
.imgborder {
    border-color: #FFFFFF;
    border-width: 10px;
    border-style: solid;
  }
  footer {
  	background-color: #00171F;
  }
  
 .navbar-brand, .nav, .navbar {
 	background-color: #00171F;
 	border-color: #00171F;
 }
  
  